body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #89709B;
  color: #fff;
}

.jumbotron a {
  color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-family: "Arvo",serif;
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.content {
  background-color: #f7f7f7;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.btn-primary, .btn-primary:active, .btn-primary:hover {
  background-color: #4c844e;
  border: 0;
  color: #fff;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:hover {
  background-color: #80b682;
  border: 0;
  color: #fff;
}

footer {
  background-color: #80b682;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

footer p {
  color: #fff;
  margin-bottom: .25rem;
}

header a, footer a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline dotted;
}
header a:hover, header a:visited, footer a:hover, footer a:visited {
  color: #ddd;
}

.gitlab-icon {
  height: 50px;
  width: 42px;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#carbonads {
  display: flex;
  max-width: 330px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, .1);
  margin-left: auto;
  margin-right: auto;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

.carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  font-size: 13px;
  padding: 10px;
  line-height: 1.5;
  text-align: left;
}

.carbon-poweredby {
  display: block;
  padding: 8px 10px;
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 1;
}