---
---
<!doctype html>
<html lang="en">
  <head>
    <title>OpenAPI Tools | Editors, Linters, Parsers, Code Generators, Documentation, Testing for APIs </title>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body class="bg-grey-lightest">
    <div class="container mx-auto pb-8" id="header">
      <div class="row">
        <div class="col-lg">
          <h2 class="text-center font-sans font-light text-5xl">OpenAPI Tools</h2>
        </div>
      </div>
      <nav>

        <ul class="list-reset flex text-center justify-center">
          {% for category in site.data.categories %}
          <li class="mr-6">
            <a class="text-blue hover:text-blue-darker" href="#{{ category.slug }}">{{ category.name }}</a>
          </li>
          {%  endfor %}
        </ul>
      </nav>
      <hr>
      <div class="row justify-content-md-center">
        <div class="col-8">
          <h2 class="font-sans font-light pt-2 pb-2">Why?</h2>
          <p class="font-serif">This project is aimed at getting API developers the best tools and knowledge possible. As OpenAPI v3 rolls out, we want to push developers towards that standard and leave OpenAPI v2 behind.</p>
          <p class="font-serif">This project will describe what linters, documentation tools, code generators and more are already on OpenAPI 3.x</p>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-8">
          <h2 class="font-sans font-light pt-2 pb-2">Contribute</h2>
          <p class="font-serif">This project was created by Matthew Trask and Phil Sturgeon with <a href="https://github.com/apisyouwonthate/openapi.tools/graphs/contributors">contributions</a> from the community. If you need help, hit <a href="https://twitter.com/matthewtrask">Matt</a> or <a href="https://twitter.com/philsturgeon">Phil</a> up on twitter.</p>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-8">
          <h2 class="font-sans font-light pt-2 pb-2">Current OpenAPI Version</h2>
          <blockquote class="blockquote">
            <p class="lead font-serif">3.0.1 - <a href="https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md">Link to the specification</a></p>
            </blockquote>
        </div>
      </div>
      <div class="row justify-content-md-center pt-2">

        {% for category in site.data.categories %}
        <div class="pt-2 pb-2" id="{{ category.slug }}">
          <h2 class="font-sans font-light pt-2 pb-2">{{ category.name }}</h2>
          <table class="table w-full">
            <thead>
              <tr>
                <th>Name</th>
                <th>Language</th>
                <th>v2</th>
                <th>v3</th>
                <th>GitHub</th>
              </tr>
            </thead>
            <tbody>
              {% for tool in site.data.tools %}
                {% if tool.category == category.slug %}
                  <tr class="table-row">
                    <td class="font-serif w-3/5">
                      <a href="{% if tool.link %}{{ tool.link }}{% else %}{{ tool.github }}{% endif %}">
                        {{ tool.name }}
                      </a>
                      {% if tool.description %}
                      - {{ tool.description }}
                      {% endif %}
                    </td>
                    <td class="font-serif w-1/5">{{ tool.language }}</td>
                    <td class="font-serif w-1/5">{% if tool.v2 %}✅{% else %}❌{% endif %}</td>
                    <td class="font-serif w-1/5">{% if tool.v3 %}✅{% elsif tool.v3_progress_link %}<a href="{{ tool.v3_progress_link }}">👷</a>{% else %}❌{% endif %}</td>
                    <td>{% if tool.github %}<a href="{{ tool.github }}"><img src="/img/octocat.png"></a>{% else %}{% endif %}</td>
                  </tr>
                {% endif %}
              {% endfor %}

            </tbody>
          </table>
	  <p class="font-serif"><a href="#header">Back to top</a></p>
        </div>
        {% endfor %}
      </div>
    </div>
<footer><p class="font-sans text-center">Copyright <script type="text/javascript">document.write(new Date().getFullYear());</script> - Apis You Wont Hate</p></footer>
  </body>
</html>
