---
---
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">
    <title>OpenAPI.Tools</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Arvo:700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  </head>

  <body>

    <header class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">OpenAPI.Tools</h1>
          <p class="lead">
            We want to keep API developers up to date with the best OpenAPI tooling around, and help 
            direct folks to high quality modern tooling, instead of being stuck on old v2-based rubbish.
          </p>
          <a target="_blank" href="https://github.com/apisyouwonthate/openapi.tools" class="btn btn-primary">Contribute</a>
          <a target="_blank" href="https://apisyouwonthate.com/" class="btn btn-secondary">APIs You Won't Hate</a>
        </p>
      </div>
    </header>

    <section class="content">
      <div class="container">
        <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7D5K3M&placement=openapitools" id="_carbonads_js"></script>

        <div>
          <h2>Tool Types</h2>
          <p class="lead">We've organised everything into categories so you can jump to the section you're interested in.</p>
          <ul>
          {% assign sorted_categories = site.data.categories | sort:'slug' %}
          {% for category in sorted_categories %}
            <li><strong><a href="#{{ category.slug }}">{{ category.name }}:</a></strong>
              {{
            category.description
            }}</li>
          {% endfor %}
          </ul>
        </div>

        {% for category in site.data.categories %}
        <div id="{{ category.slug }}">
          <h2><a name="{{ category.slug }}">{{ category.name }}</a></h2>
          <p class="lead">{{ category.description }}</p>
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>Name</th>
                <th>Language</th>
                <th>v3.1</th>
                <th>v3.0</th>
                <th>v2.0</th>
                <th>GitHub</th>
              </tr>
            </thead>
            <tbody>
              {% assign sorted_tools = site.data.tools | sort_natural:'name' %}
              {% for tool in sorted_tools %}
                {% if tool.category == category.slug or tool.category contains category.slug %}
                  <tr class="table-row">
                    <td class="font-serif w-3/5">
                      <a target="_blank" href="{% if tool.link %}{{ tool.link }}{% else %}{{ tool.github }}{% endif %}">
                        {{ tool.name }}
                      </a>
                      {% if tool.description %}
                      - {{ tool.description }}
                      {% endif %}
                    </td>
                    <td class="font-serif w-1/5 text-center">{{ tool.language }}</td>
                    <td class="font-serif w-1/3 text-center">{% if tool.v3_1 %}✅{% elsif tool.v3_1_progress_link %}<a target="_blank" href="{{ tool.v3_1_progress_link }}">👷</a>{% else %}❌{% endif %}</td>
                    <td class="font-serif w-1/3 text-center">{% if tool.v3 %}✅{% else %}❌{% endif %}</td>
                    <td class="font-serif w-1/3 text-center">{% if tool.v2 %}✅{% else %}❌{% endif %}</td>
                    <td class="w-2/3 text-center">{% if tool.github %}<a target="_blank" href="{{ tool.github }}"><img src="/img/octocat.png"></a>{% else %}{% endif %}</td>
                  </tr>
                {% endif %}
              {% endfor %}

            </tbody>
          </table>
        </div>
        {% endfor %}

      </div>
    </section>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Copyright {{ 'now' | date: "%Y" }} - <a target="_blank" href="https://apisyouwonthate.com/">APIs You Won't Hate</a></p>
      </div>
    </footer>
  </body>
</html>
