---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const categories = await getCollection('categories');
  return categories.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
  <header>
    <h1>{entry.data.name}</h1>
  </header>
  <main class="bg-white">
    <Content />
  </main>
</Layout>
