---
import { getCollection } from 'astro:content';

import Card from '../components/Card.astro';
import Sponsor from '../components/Sponsor.tsx';
import Layout from '../layouts/Layout.astro';

const allCategories = await getCollection('categories');
---

<Layout title="Welcome to Astro.">
  <main>
    <header>
      <h1>Openapi.tools</h1>
      <p>
        Stay up to date with a community-driven list of high-quality, modern
        tools for OpenAPI. An open source project from <a
          href="https://apisyouwonthate.com"
          target="_blank"
        >
          APIs You Won't Hate</a
        >.
      </p>

      <p class="text-md">
        Is there a tool missing that you think should be on the list? Submit a
        Pull Request on <a
          href="https://github.com/apisyouwonthate/openapi.tools"
          >GitHub apisyouwonthate/openapi.tools</a
        >.
      </p>
    </header>

    <Sponsor />
    {
      allCategories.map((category) => (
        <Card
          href={'#'}
          title={category.data.name}
          body={category.data.description}
        />
      ))
    }
  </main>
</Layout>
