---
import clsx from 'clsx';

import { GitHubIcon } from '@/components/icons/GitHubIcon';
import { ThemeSelector } from '@/components/ThemeSelector';
import type { NavigationProps } from '@/layouts/Layout.astro';
import Link from './Link';
import { Logo, Logomark } from './Logo';
import { MobileNavigation } from './MobileNavigation';

type Props = NavigationProps;

const { categories, currentUrl } = Astro.props;
---

<header
  class={clsx(
    'sticky top-0 z-50 flex flex-none flex-wrap items-center justify-between bg-white px-4 py-5 shadow-md shadow-slate-900/5 transition duration-500 sm:px-6 lg:px-8 dark:shadow-none',
    'dark:bg-slate-900/95 dark:backdrop-blur dark:[@supports(backdrop-filter:blur(0))]:bg-slate-900/75'
  )}
>
  <div class="mr-6 flex lg:hidden">
    <MobileNavigation
      categories={categories}
      currentUrl={currentUrl}
      client:only="react"
    />
  </div>
  <div class="relative flex flex-grow basis-0 items-center">
    <Link href="/" aria-label="Home page">
      <Logomark className="h-9 w-9 lg:hidden" />
      <Logo
        className="hidden h-9 w-auto fill-slate-700 dark:fill-emerald-100 lg:block"
      />
    </Link>
  </div>
  <div class="relative flex basis-0 justify-end gap-6 sm:gap-8 md:flex-grow">
    <ThemeSelector className="relative z-50" client:only="react" />
    <Link
      href="https://github.com/apisyouwonthate/openapi.tools"
      className="group"
      aria-label="GitHub"
    >
      <GitHubIcon
        className="h-6 w-6 fill-slate-800 group-hover:fill-slate-500 dark:fill-slate-300"
      />
    </Link>
  </div>
</header>
