---
import Layout from './Layout.astro';
import PostHogLayout from './PostHogLayout.astro';

const { frontmatter } = Astro.props;
const { title, description } = frontmatter;
---

<PostHogLayout>
  <Layout title={title} description={description}>
    <div
      class="prose dark:prose-invert md:prose-lg lg:prose-xl prose-headings:text-slate-700/90 dark:prose-headings:text-slate-300/90 mx-auto"
    >
      <h1>{title}</h1>
      <slot />
    </div>
  </Layout>
</PostHogLayout>
