---
import Layout from './Layout.astro';

const { title } = Astro.props;
---

<Layout title={title}>
  <div
    class="prose mx-auto md:prose-lg lg:prose-xl dark:prose-invert prose-headings:text-slate-700/90 dark:prose-headings:text-slate-300/90"
  >
    <slot />
  </div>
</Layout>
